@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 10%, 4%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 35% 30%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-family: "Lato", sans-serif;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  .logo_font {
    font-family: "Gilroy", sans-serif;
  }
}

@layer components {
  .remover_scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .remover_scrollbar::-webkit-scrollbar {
    display: none;
  }
  .remover_scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .cardScaleEffect {
    animation: kdUbkV2MkpUdd4wNQxnlN 0.2s ease-in forwards;
  }

  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-icon {
    @apply flex items-center justify-center;
  }
  .btn-icon-left {
    @apply flex items-center justify-center;
  }
  .btn-icon-right {
    @apply flex items-center justify-center;
  }
  .btn-icon-only {
    @apply flex items-center justify-center;
  }
  .btn-icon-only .icon {
    @apply mr-0;
  }
}
@keyframes kdUbkV2MkpUdd4wNQxnlN {
  0% {
    transform: scale3d(0.5, 0.5, 1);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
